<div class="flex flex-col pt-32 items-center">
  <div class="p-14 shadow-2xl rounded-3xl w-full max-w-6xl flex flex-col">
    <h1 class="text-xl font-bold mb-4 text-center">My Seat History</h1>
    <%= link_to 'Pick a new Seat', new_seat_path, class: "bg-green-500 self-center mb-4 text-white p-2 rounded-lg" %>
    <table class="table-auto w-full mt-4">
      <thead>
        <tr>
          <th class="py-3 px-2 text-left">Train</th>
          <th class="py-3 px-2 text-left">Wagon</th>
          <th class="py-3 px-2 text-left">Seat</th>
          <th class="py-3 px-2 text-left">Floor</th>
          <th class="py-3 px-2 text-left">Actions</th>
          <th class="py-3 px-2 text-left">SpotMySeat ID</th>
        </tr>
      </thead>
      <tbody>
        <% @seats.each do |seat| %>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-2"><%= seat.train %></td>
            <td class="py-3 px-2"><%= seat.current_wagon %> of <%= seat.wagons %></td>
            <td class="py-3 px-2"><%= seat.seat_number %></td>
            <td class="py-3 px-2"><%= seat.floor == 0 ? 'Ground floor' : 'First floor' %></td>
            <td class="py-3 px-2">
              <%= link_to 'Show', seat, class: "bg-blue-400 text-white rounded-lg p-2 transition-all shadow-lg hover:shadow-none" %>
              <%= link_to 'Edit', edit_seat_path(seat), class: "bg-green-400 text-white rounded-lg p-2 mx-2 transition-all shadow-lg hover:shadow-none" %>
              <%= link_to 'Delete', seat, data: {"turbo-method": :delete}, class: "bg-red-400 text-white rounded-lg p-2 transition-all shadow-lg hover:shadow-none", params: { from: 'user' } %>
            </td>
            <td class="py-3 px-2 flex gap-2">
              <p id="spotMySeatId_<%= seat.id %>"><%= seat.id%></p>
              <button id="copyButton_<%= seat.id %>" type="button" onclick="<%= "copyToClipboard(#{seat.id});" %>" class="p-1 rounded-full bg-gray-200"><%= image_tag "copy.png", class: "size-4", id: "copySvg" %></button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="underline hover:no-underline transition-all mt-4 pl-2">
      <%= link_to "Back", root_path%>
    </div>
  </div>
</div>
<script>
  function copyToClipboard(seatId) {
    var copyText = document.getElementById("spotMySeatId_" + seatId);
    navigator.clipboard.writeText(copyText.textContent).then(() => {
        var button = document.getElementById("copyButton_" + seatId);
        button.innerHTML = '<%= image_tag "checkmark.png", class: "size-4" %>';

        setTimeout(() => {
          button.innerHTML = '<%= image_tag "copy.png", class: "size-4" %>';
        }, 1000);
      })
      .catch(err => {
        console.error('Fehler beim Kopieren: ', err);
      });
  }
</script>
