<div class="flex flex-col pt-14 items-center">
  <div class="p-14 shadow-2xl rounded-3xl">
    <h2 class="text-xl font-bold mb-4">Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field mb-4">
        <%= f.label :username %><br />
        <%= f.text_field :username, maxlength: 20, class: "rounded" %>
      </div>
      <div class="field mb-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field mb-4">
        New <%= f.label :password %> (if wanted)<br />
        <% if @minimum_password_length %>
          <em>(mindestens <%= @minimum_password_length %> Zeichen, Buchstaben, Zahlen & Sonderzeichen)</em>
        <% end %><br />
        <%= f.password_field :password, 
        autocomplete: "new-password", 
        class: "rounded", 
        data: { min_length: @minimum_password_length, pattern: "(?=.*[a-zA-Z])(?=.*\\d)(?=.*[\\W_]).{12,}" } %>
        <p id="password_error" class="text-red-500"></p>
      </div>
      <div class="field mb-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded" %>
      </div>
      <div class="field mb-4">
        <%= f.label :current_password %>*<br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "rounded" %>
      </div>
      <div class="actions">
        <%= f.submit "Update", class: "bg-red-400 py-2 px-4 rounded-lg transition-all shadow-md hover:shadow-none flex justify-center mb-4 w-[95%]" %>
      </div>
    <% end %>
    <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: " border-2 border-red-400 py-2 px-4 rounded-lg transition-all shadow-md hover:shadow-none flex justify-center mb-4 w-[95%]" %></div>
    <%= link_to "Back", root_path, class: "underline hover:no-underline transition-all mb-4" %>
  </div>
</div>