<h1 class="text-4xl font-bold mb-4"><%= @post.title %></h1>
<p class="text-gray-600">by <%= @post.user.username %> on <%= @post.created_at.strftime("%B %d, %Y") %></p>
<p class="mt-6"><%= simple_format(@post.content) %></p>
<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post), class: "bg-yellow-500 text-white p-2 rounded mr-2" %>
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 text-white p-2 rounded" %>
<% end %>
<%= link_to 'Back', posts_path, class: "mt-4 inline-block" %>
